# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px 
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
plt.style.use('ggplot')

# Data cleaning

In [2]:
# Import the data
df = pd.read_csv('NYPD_Complaint_Data_Historic_20231223.csv')
df.head()

C:\Users\seles\AppData\Local\Temp\ipykernel_15560\385975561.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NYPD_Complaint_Data_Historic_20231223.csv')

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,JURISDICTION_CODE,PARKS_NM,HADEVELOPT,HOUSING_PSA,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,10600119,01/01/2002,11:00:00,02/25/2006,11:00:00,NaN,03/06/2006,104,RAPE,157.0,RAPE 1,COMPLETED,FELONY,MANHATTAN,(null),(null),N.Y. POLICE DEPT,0,(null),(null),(null),NaN,NaN,45-64,WHITE,M,NaN,NaN,NaN,NaN,(null),(null),18-24,WHITE,F
1,11052575,04/22/2005,02:00:00,NaN,(null),NaN,04/22/2006,110,GRAND LARCENY OF MOTOR VEHICLE,441.0,"LARCENY,GRAND OF AUTO",COMPLETED,FELONY,BRONX,(null),(null),N.Y. POLICE DEPT,0,(null),(null),(null),NaN,NaN,(null),(null),(null),NaN,NaN,NaN,NaN,(null),(null),25-44,BLACK,M
2,10832306,07/11/2005,20:00:00,03/29/2006,12:00:00,NaN,03/29/2006,353,UNAUTHORIZED USE OF A VEHICLE,462.0,UNAUTHORIZED USE VEHICLE 3,COMPLETED,MISDEMEANOR,BROOKLYN,(null),(null),N.Y. POLICE DEPT,0,(null),(null),(null),NaN,NaN,(null),WHITE,M,NaN,NaN,NaN,NaN,(null),(null),45-64,WHITE,M
3,10107192,10/19/2005,20:30:00,NaN,(null),NaN,01/13/2006,126,MISCELLANEOUS PENAL LAW,461.0,UNAUTHORIZED USE VEHICLE 2,COMPLETED,FELONY,BRONX,(null),(null),N.Y. POLICE DEPT,0,(null),(null),(null),NaN,NaN,(null),BLACK,F,NaN,NaN,NaN,NaN,(null),(null),25-44,BLACK,F
4,23893731,12/04/2005,09:00:00,08/09/2006,17:00:00,NaN,08/09/2006,109,GRAND LARCENY,405.0,"LARCENY,GRAND BY THEFT OF CREDIT CARD",COMPLETED,FELONY,BRONX,(null),(null),N.Y. POLICE DEPT,0,(null),(null),(null),NaN,NaN,(null),(null),(null),NaN,NaN,NaN,NaN,(null),(null),25-44,WHITE,F

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ADDR_PCT_CD,8352636.0,6.332741e+01,34.563849,1.000000,40.000000,6.300000e+01,9.400000e+01,1.230000e+02
KY_CD,8353049.0,2.971978e+02,151.666023,101.000000,117.000000,3.410000e+02,3.510000e+02,8.810000e+02
PD_CD,8351269.0,4.120608e+02,217.507331,100.000000,254.000000,3.610000e+02,6.370000e+02,9.750000e+02
JURISDICTION_CODE,8353049.0,6.939544e-01,6.567014,0.000000,0.000000,0.000000e+00,0.000000e+00,9.700000e+01
X_COORD_CD,8352663.0,1.004740e+06,21290.979667,0.000000,991549.000000,1.003509e+06,1.017036e+06,1.067306e+06
Y_COORD_CD,8352663.0,2.073820e+05,29955.666999,0.000000,185018.000000,2.053300e+05,2.345160e+05,2.718190e+05
TRANSIT_DISTRICT,183308.0,1.367196e+01,12.498478,1.000000,3.000000,1.100000e+01,3.000000e+01,3.400000e+01
Latitude,8352663.0,4.073585e+01,0.083423,0.000000,40.674496,4.073011e+01,4.081035e+01,4.091271e+01
Longitude,8352663.0,-7.392602e+01,0.080925,-74.254741,-73.973705,-7.393057e+01,-7.388181e+01,0.000000e+00

In [ ]:
# drop useless columns
df.drop(columns = ['PD_CD','PD_DESC','JURIS_DESC','JURISDICTION_CODE','KY_CD','RPT_DT','LOC_OF_OCCUR_DESC'],inplace = True)

In [ ]:
# percentage of nan values for each column
for column in df.columns:
    print(f'{column}:missing {df[column].isna().sum()*100/len(df)}')

In [ ]:
# drop columns with high nan and redundent information %
df.drop(columns=['HOUSING_PSA','TRANSIT_DISTRICT'],inplace=True)

In [ ]:
df.loc[df['PARKS_NM'].notnull(),'PARKS_NM'] = 1
df.loc[df['PARKS_NM'].isna(),'PARKS_NM'] = 0

df.loc[df['HADEVELOPT'].notnull(),'HADEVELOPT'] = 1
df.loc[df['HADEVELOPT'].isna(),'HADEVELOPT'] = 0

df.loc[df['STATION_NAME'].notnull(),'STATION_NAME'] = 1
df.loc[df['STATION_NAME'].isna(),'STATION_NAME'] = 0


df = df.rename({'PARKS_NM':'IN_PARK','HADEVELOPT':'IN_PUBLIC_HOUSING','STATION_NAME':'IN_STATION'},axis = 1)

In [ ]:
#remove unnecessary coordinate columns
df.drop(columns=['X_COORD_CD','Y_COORD_CD',"Lat_Lon"],inplace=True)

In [ ]:
# Rows without coordinates should be dropped
df = df[df['Latitude'].notna()]
df = df[df['Longitude'].notna()]

In [ ]:
# check if the two columns have the same values
if all(df['CMPLNT_FR_DT'].notna() == df['CMPLNT_TO_DT'].notna()):
    df.drop(columns='CMPLNT_TO_DT',inplace = True)

In [ ]:
# change date columns to YYYY-MM-DD
df['CMPLNT_FR_DT']= pd.to_datetime(df['CMPLNT_FR_DT'],errors='coerce')
df['CMPLNT_FR_TM'] = pd.to_datetime(df['CMPLNT_FR_TM'],errors='coerce')

In [ ]:
# delete columns that have no event start date or time
df = df[df['CMPLNT_FR_DT'].notna()]
df = df[df['CMPLNT_FR_TM'].notna()]

In [ ]:
# these columns have redundent info
df.drop(columns='CMPLNT_TO_TM',inplace = True)
df.drop(columns='CMPLNT_TO_DT',inplace = True)

In [ ]:
# split date to year, month and day
df['year'] = df['CMPLNT_FR_DT'].dt.year
df['month'] = df['CMPLNT_FR_DT'].dt.month
df['day'] = df['CMPLNT_FR_DT'].dt.day
df['hour'] =df['CMPLNT_FR_TM'].dt.hour
# add week day column
df['weekday'] = pd.to_datetime(df['CMPLNT_FR_DT']).dt.day_name()
df.drop(columns='CMPLNT_FR_DT',inplace = True)
df.drop(columns='CMPLNT_FR_TM',inplace = True)

In [ ]:
df.head()

In [ ]:
# clean suspect and victim data
df['SUSP_RACE'] = df['SUSP_RACE'].fillna('UNKNOWN')
df['VIC_RACE'] = df['VIC_RACE'].fillna('UNKNOWN')

df['SUSP_SEX'] = df['SUSP_SEX'].fillna('U')
df['VIC_SEX'] = df['VIC_SEX'].fillna('U')

In [ ]:
# take care of unvalid age data
valid_age = ['UNKNOWN', '25-44', '<18', '45-64', '65+', '18-24']
df.loc[~df['SUSP_AGE_GROUP'].isin(valid_age),'SUSP_AGE_GROUP'] = 'UNKNOWN'
df.loc[~df['VIC_AGE_GROUP'].isin(valid_age),'VIC_AGE_GROUP'] = 'UNKNOWN'

In [ ]:
# redundent data
df.drop(columns='PATROL_BORO',inplace = True)
df['BORO_NM'] = df['BORO_NM'].fillna('UNKNOWN')

In [ ]:
df.head()

In [ ]:
df.dropna(inplace=True)
len(df)

In [ ]:
# encode crime severity
df['LAW_CAT_CD'] = df['LAW_CAT_CD'].replace(['felony','misdemeanor','violation'],[2,1,0])

In [ ]:
df.columns

In [ ]:

df = df.rename({'LAW_CAT_CD':'CRIME_CLASS'},axis = 1)

In [ ]:
df['CRIME_CLASS'].value_counts()

In [ ]:
column_titles = ['CMPLNT_NUM','year','month', 'day','weekday','hour','Latitude', 'Longitude', 'CRM_ATPT_CPTD_CD',
                 'OFNS_DESC', 'ADDR_PCT_CD', 'CRIME_CLASS', 'BORO_NM', 'PREM_TYP_DESC',
                 'IN_PARK', 'IN_PUBLIC_HOUSING', 'IN_STATION',
                 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX',
                 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']
df = df.reindex(columns = column_titles)

In [ ]:
df.head()

In [ ]:
df.sort_values('year', ascending=False).year.unique()

In [ ]:
df = df[df['year']>2005]
df_last = df[df['year']==2022]
df_train = df[df['year']!=2022]

In [ ]:
df.to_csv('ny_clean_all.csv',index= False)
df_train.to_csv('ny_clean.csv',index=False)
df_last.to_csv('ny_clean_2022.csv',index=False)